* {
  caret-color: transparent;
  z-index: 0;
  
}

h1 {
  margin-top: 160px;
  font-size: 80px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  cursor: pointer;
  padding-right: 12px; /* scale this with the color boxes */
}



h3 {
  text-align: center;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

canvas {
  z-index: -10;
  background-color: transparent;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

h2 {
  text-align: center;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.stats-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.grouphead {
  display:flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: -40px;
  margin-top: 65px;
}

.cutest {
  padding-top: 76px;
  padding-right: 10px;
}

#timer-style {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 160px;
  opacity: 80%;
  
}

#bigdiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
body {

  background-color: #a7b0ff;
  margin: 0rem;

}

#time-header {
  color: rgb(255, 255, 255);
  font-family: 'Madimi One';
  font-size: 28px;
  margin-top: 10px;
  padding-bottom: 18px;
}

#time-count {
  color: rgb(255, 255, 255);
  font-family: 'Madimi One';
  padding-bottom: 0px;
  

}


.container-elements {
 width: 600px;
 display: flex;
 flex-direction: row;
 height: 120px;
 justify-content: center;
 margin-top: 0px;

 
}

.startButtonC {
  margin-top: 70px;
  font-size: 30px;
  cursor: pointer;
  width: 200px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  margin-left: 30px;
  border-radius: 50px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transform: scale(1);
  letter-spacing: 0;
  transition: letter-spacing 0.08s ease-out, transform 0.08s ease-out;
  border: none;
}

.settingsbutton {
  font-family: Arial, Helvetica, sans-serif;
  writing-mode: vertical-rl;
  padding-left: 100px;
  margin-right:100vw;
  /* come back to */
}

.colorWheel {
  cursor: pointer;
  color: rgb(167, 176, 255)
  
}

#computercat {
  margin-right: 20px;
  opacity: 1;
  transition: opacity 0.25s ease-in, src 0.25s ease-in;
}

.startButtonC:hover {
  letter-spacing: 1px;
  transform: scale(1.05);
}

.startButtonC:active {
  transform: scale(1.1)
}

.no-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Edge */
}

#colorcontainers {
  padding-top: 65px;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
}

.countInputC {
  margin-top: 70px;
  border-radius: 50px;
  font-size: 30px;
  width: 200px;
  background-color: rgb(255, 255, 255);
  padding-left: 20px;
  text-align: left;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: none;
}

input::placeholder {

  color: rgba(0, 0, 0, 0.25); 
}

input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.25);
}

input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.25);
}

input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.25);
}

button {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

input.no-select, img.no-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard syntax */
}

.study-information {
  width: 200px;
  height: 300px;
  background-color: #ff8791;
  opacity: 0;
  border-radius: 5px;
  border-color: rgb(255, 255, 255);
  border-width: 2px;
  border-style: solid;
  position: absolute;
  margin-left: 630px;
  margin-top: 516px;
  transition: opacity 0.3s ease-out, width 0.15s ease-out, height 0.15s ease-out;
}


.stats-button {
  background-color: white;
  border-style: outset;
  border: none;
  border-radius: 40px;
  width: 150px;
  height: 50px;
  font-size: 30px;
  opacity: 1;
  margin-right: 13px;
  font-size: 30px;
  transition: letter-spacing 0.15s ease-out, transform 0.08s ease-out, width 0.15s ease-out, margin-bottom 0.15s ease-out, margin-top 0.15s ease-out, box-shadow 0.15s ease-out, height 0.15s ease-out, text-shadow 0.15s ease-out, font-size 0.15s ease-out, opacity 0.15s ease-out;
  cursor: pointer;
  color: #1010104D;
}

.stats-button:hover {
  letter-spacing: 2px;
  width: 300px;
  margin-bottom: 10px;
  margin-top: 0px;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.2);
  height: 60px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  font-size: 38px;
  opacity: 1;
  color: black;

}

.stats-button:active {
  width: 350px;
  letter-spacing: 4px;
  color: black;
}

#clear-time {
  position: absolute;
  margin-left: 80px;
  border-radius: 20px;
  background-color: white;
  border-width: 1px;
  cursor: pointer;
  color: gray;
  transition: background-color 0.1s ease-out, width 0.1s ease-out, margin-left 0.2s ease-out, scale 0.1s ease-out, box-shadow 0.1s ease-out;
  margin-top: -26px;
  font-family: Arial, Helvetica, sans-serif;
}

#clear-time:hover {
  color: black;
  background-color:rgb(255, 135, 145);
  box-shadow: 0px 3px 3px 2px rgba(0, 0, 0, 0.2);

}

#clear-time:active {
  background-color: rgb(255, 115, 125);
  scale: 1.1;
}