

h1 {
  margin-top: 120px;
  padding-bottom: 20px;
  font-size: 80px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  cursor: pointer;
}

.grouphead {
  display:flex;
  flex-direction: row;
  align-items: center;
}

.cutest {
  padding-top: 26px;
  padding-right: 10px;
}

#timer-style {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 160px;
  opacity: 80%;
  
}
body {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 135, 145);
  margin: 0rem;
  overflow: hidden;
  align-items: center;
}

.container-elements {
 width: 600px;
 display: flex;
 flex-direction: row;
 height: 120px;
 justify-content: center;
 margin-top: 0px;

 
}

.startButtonC {
  margin-top: 70px;
  font-size: 30px;
  cursor: pointer;
  width: 200px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  margin-left: 30px;
  border-radius: 50px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transform: scale(1);
  letter-spacing: 0;
  transition: letter-spacing 0.08s ease-out, transform 0.08s ease-out;
  border: none;
}

.colorWheel {
  cursor: pointer;
  
}

#computercat {
  margin-right: 20px;
  opacity: 1;
  transition: opacity 0.25s ease-in, src 0.25s ease-in;
}

.startButtonC:hover {
  letter-spacing: 1px;
  transform: scale(1.05);
}

.startButtonC:active {
  transform: scale(1.1)
}

.no-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Edge */
}


.countInputC {
  margin-top: 70px;
  border-radius: 50px;
  font-size: 30px;
  width: 200px;
  background-color: rgb(255, 255, 255);
  padding-left: 20px;
  text-align: left;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: none;
}

input::placeholder {

  color: rgba(0, 0, 0, 0.25); 
}

input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.25);
}

input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.25);
}

input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.25);
}

button {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

input.no-select, img.no-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard syntax */
}

